/* stylelint-disable selector-class-pattern */
:root {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  // color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --content-width: 840px;
  --preview-width: 720px;
  --preview-page-padding: 48px;

  // color
  --primary-color: #6096b4;
  --second-color: #93bfcf;
  --third-color: #bdcdd6;
  --fourth-color: #eee9da;
}

#app,
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.content-wrap {
  width: var(--content-width);
  margin: 0 auto;
}

#app {
  display: flex;
  flex-direction: column;

  > :not(.nav-bar) {
    flex: 1;
    background-color: #dfe1e5;
  }

  .section-model {
    padding: 0 var(--preview-page-padding);
  }

  .section-title {
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0;
  }

  .el-overlay-dialog {
    display: flex;

    > .el-dialog {
      margin: auto;

      .el-dialog__body {
        max-height: 70vh;
        overflow: auto;
      }
    }
  }

  .model-section {
    &-title {
      display: flex;
      justify-content: space-between;
      padding: 8px 0 4px;

      .right,
      .left {
        display: flex;
      }

      .main-title {
        font-weight: 12px;
        font-weight: 600;
      }

      .right span {
        font-size: 12px;
        font-weight: 500;
        font-variant-numeric: tabular-nums;

        &:last-of-type::before {
          content: '-';
          margin: 0 4px;
        }
      }

      .sub-title {
        font-size: 12px;

        &::before {
          content: '-';
        }

        span {
          margin-left: 4px;
        }
      }
    }

    &-description {
      ul {
        margin: 0;
        padding-left: 2em;
        margin-top: 4px;
      }

      p {
        margin: 0;
        line-height: 1.4;
      }
    }
  }
}
